# **MÓDULO 24 - Bancos de Dados + SQL**

Para nossa atividade inicial de SQL trabalharemos com uma base de vendas.
Abaixo temos o ambiente de preparo para trabalharmos com o SQL lite.

In [ ]:
import sqlite3 #Importando a biblioteca necessária
import pandas as pd

In [ ]:
df_vendas = pd.read_csv("/content/TB_VENDAS_TAREFA.csv", delimiter=';')

In [ ]:
conn = sqlite3.connect(':memory:')
df_vendas.to_sql('tb_vendas', conn, index=False, if_exists='replace')

24

In [ ]:
def run_query(query):
    return pd.read_sql_query(query, conn)

# 1) Faça uma consulta que retorne todos os dados da nossa tabela de vendas, com todas linhas e todas colunas.

In [ ]:
query = "SELECT * FROM tb_vendas"
result_df = run_query(query)
print(result_df)

    ID_COMPRA  ID_CLIENTE   PRODUTO VALOR_UNID  UNIDADES
0        1247        9081  CAMISETA       34,5         2
1        1248        9081     CALCA       89,9         1
2        1250        9560  CAMISETA       34,5         1
3        1249        9630   BERMUDA       79,5         2
4        1251        9425  CAMISETA       34,5         3
5        1252        9425   VESTIDO        102         1
6        1253        9481     CALCA       89,9         2
7        1254        9785      MEIA       25,9         1
8        1255        9786     CALCA       89,9         2
9        1256        9787   VESTIDO        102         1
10       1257        9788     CALCA       89,9         2
11       1258        9789  CAMISETA       34,5         3
12       1259        9790  CAMISETA       34,5         1
13       1260        9791   BERMUDA       79,5         2
14       1261        9792  CAMISETA       34,5         2
15       1262        9793     CALCA       89,9         2
16       1263        9794     CALCA       89,9         1
17       1264        9795   BERMUDA       79,5         2
18       1265        9796  CAMISETA       34,5         4
19       1266        9797  CAMISETA       34,5         1
20       1267        9798   VESTIDO        102         2
21       1268        9799      MEIA       25,9         3
22       1269        9800  CAMISETA       34,5         2
23       1270        9801     CALCA       89,9         1

# 2) Faça uma consulta que retorne apenas 10 linhas da coluna produto.

In [ ]:
query = "SELECT * FROM tb_vendas limit 10"
result_df = run_query(query)
print(result_df)

   ID_COMPRA  ID_CLIENTE   PRODUTO VALOR_UNID  UNIDADES
0       1247        9081  CAMISETA       34,5         2
1       1248        9081     CALCA       89,9         1
2       1250        9560  CAMISETA       34,5         1
3       1249        9630   BERMUDA       79,5         2
4       1251        9425  CAMISETA       34,5         3
5       1252        9425   VESTIDO        102         1
6       1253        9481     CALCA       89,9         2
7       1254        9785      MEIA       25,9         1
8       1255        9786     CALCA       89,9         2
9       1256        9787   VESTIDO        102         1

# 3) Faça uma consulta que retorne a média do valor por unidade e também das unidades vendidas. Não se esqueça de renomear o nome das colunas ao cria-las.

In [ ]:
query = "SELECT AVG(VALOR_UNID), AVG(UNIDADES) FROM tb_vendas"
result_df = run_query(query)
print(result_df)

   AVG(VALOR_UNID)  AVG(UNIDADES)
0        63.416667       1.833333

# 4) Note que na nossa tabela não temos o total de valor gasto por compra, temos o valor do produto e a quantidade vendida, para termos o valor total precisamos multiplicar essas duas colunas e para multiplicar colunas usamos o *.
# Faça uma consulta que retorne a coluna ID_COMPRA, ID_CLIENTE e o valor total gasto.

Ex: SELECT TICKET_MEDIO*UNIDADE FROM TB_EXEMPLO

In [24]:
query = "SELECT ID_COMPRA , ID_CLIENTE, ID_COMPRA * ID_CLIENTE FROM tb_vendas"
result_df = run_query(query)
print(result_df)

    ID_COMPRA  ID_CLIENTE  ID_COMPRA * ID_CLIENTE
0        1247        9081                11324007
1        1248        9081                11333088
2        1250        9560                11950000
3        1249        9630                12027870
4        1251        9425                11790675
5        1252        9425                11800100
6        1253        9481                11879693
7        1254        9785                12270390
8        1255        9786                12281430
9        1256        9787                12292472
10       1257        9788                12303516
11       1258        9789                12314562
12       1259        9790                12325610
13       1260        9791                12336660
14       1261        9792                12347712
15       1262        9793                12358766
16       1263        9794                12369822
17       1264        9795                12380880
18       1265        9796                12391940
19       1266        9797                12403002
20       1267        9798                12414066
21       1268        9799                12425132
22       1269        9800                12436200
23       1270        9801                12447270

# 5) [DESAFIO] Faça uma consulta que traz a média do valor total gasto que foi calculado no exercício anterior. Note que não queremos a média por pedido e sim a média total, apenas essa informação deve vir na consulta.

In [26]:
query = "SELECT AVG(ID_COMPRA * ID_CLIENTE) FROM tb_vendas"
result_df = run_query(query)
# Exibir o resultado
print(result_df)

   AVG(ID_COMPRA * ID_CLIENTE)
0                 1.217520e+07

# 6) Diferencie com suas palavras, considerando o repertório que tem criado da área de dados, a utilizadade do SQL e do Python para ciência de dados.
Minimo 2 linhas.

Python pode ser amplamente utilizado para criação de sistemas e processos, sendo desde uma aplicação de modelos estatísticos até a construção de um APP, já o SQL se limita somente a banco de dados, transformando as consultas e tratamentos em algo simples, dinânico e organizado.

#7) Diferencie com suas palavras banco de dados relacionais de não relacionais.
Minimo 3 linhas.

Banco de dados relacionais requerem uma estrutura tabular e fixa(ideal para dados estruturados), diferente da não relacional, que não precisa se basear em tabelas, sendo não ou semi estruturados(redes sociais). Em SQL, temos termos como chaves primárias, colunas e linhas, para garantir a consistência nas querys.

#8) Queremos saber da sua opinião, acredita que o SQL pode ser mais prático que o Python para consultas rápidas? Justifique.
Muitas vezes durante a carreia você terá que escolher qual linguagem utilizar para cada momento afim de entregar o que é solicitado o mais rápido e com qualidade possível, exercite sua argumentação = )

Minimo 3 linhas.

Com certeza! Além de ser mais fácil de interpretar e aprender, o SQL é bem mais simples e estruturado, ideal para consultas rápidas e diretas, enquanto o Python é mais versátil, quando temos uma integração mais complexa, algum tipo de automação ou análise mais avançada. Em resumo, ambos tem seus pontos fortes, nas o SQL é ideal para consultas rápidas, sendo prático, com pouca necessidade de programação.